// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title{
  text-align:center;
  color:blue;
}
.title_user{
  color: #0a07ff;
  font-weight: 700;
}
